<template name="taskbutton">
                {{#if tasks.available}}
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-list"></i>
                        <span class="badge bg-theme">{{tasks.count}}</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have pending tasks</p>
                        </li>
                        {{#each task}}
                        <li>
                            <a href="/tasks/{{task.id}}">
                                <div class="task-info">
                                    <div class="desc">{{task.desc}}</div>
                                    <div class="percent">{{task.pct}}%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-{{task.class}}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{task.pct}}%">
                                        <span class="sr-only">{{task.pct}}% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{/each}}
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
       		{{/if}}
</template>
